body {
  background-color: #1c1c1c;
  color: #ffffff;
}

h1,
h2 {
  font-family: "Inquisitor", monospace;
  flex: auto;
  text-align: center;
}

h1 {
  font-size: 80px;
  letter-spacing: 5px;
}

h2 {
  font-size: 60px;
  letter-spacing: 3px;
}

header {
  background-color: #121212;
  text-align: center;
  margin-top: 70px;
}

#warhammer_logo {
  max-width: 90%;
}

#imperium_logo {
  max-width: 50px;
}

#welcome_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome_table {
  font-family: cursive;
}

#war_image {
  max-width: 100%;
  height: auto;
}

#text_section,
#image_section {
  width: 50%;
}

#author {
  font-size: 50px;
}

#character-form,
#character-list,
#character-details,
footer {
  margin: 20px;
  padding: 20px;
  background-color: #333333;
  border-radius: 10px;
  font-family: "Inquisitor", monospace;
  letter-spacing: 1px;
  font-size: 30px;
  text-align: center;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}

#characters {
  justify-content: center;
}

#name,
#chapter,
#weapon,
#new-name,
#new-chapter,
#new-weapon {
  font-size: 30px;
  font-family: "Inquisitor", monospace;
  letter-spacing: 1px;
}

#characters {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#characters li {
  margin-right: 10px;
  cursor: pointer;
  align-items: center;
  margin-left: 5px;
  text-align: center;
}

button {
  font-family: "Inquisitor", monospace;
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: black;
  margin: 25% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

#modal-message {
  font-family: "Inquisitor", monospace;
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
}

#motivational,
#author {
  font-family: "Inquisitor", monospace;
  letter-spacing: 1px;
}

#motivational {
  font-size: 40px;
  font-style: italic;
  margin-left: 10%;
  margin-right: 10%;
}

#author {
  font-size: 30px;
  margin-left: 10%;
}

#character-form,
.details-container,
.edit-container {
  text-align: center;
  margin-top: 20px;
}

.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.edit-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.form-group {
  display: flex;
  margin-inline: 20px;
  margin-bottom: 10px;
}

label {
  width: 120px;
  text-align: center;
  display: block;
}

#characters {
  list-style: none;
  padding: 0;
  margin: 10px;
}

#propaganda {
  margin-bottom: 50px;
  text-align: center;
}

#motivational-two,
#author-two {
  font-family: "Inquisitor", monospace;
  letter-spacing: 1px;
  text-align: center;
}

#motivational-two {
  font-size: 40px;
  font-style: italic;
  margin-left: 10%;
  margin-right: 10%;
}

#author-two {
  font-size: 30px;
  margin-bottom: 50px;
}

#propaganda img {
  height: 800px;
  max-width: auto;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  max-height: 720px;
  margin: 0 auto;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#presentation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer div {
  align-items: center;
}

.social-icons a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  margin: 10px;
  text-decoration: none;
  color: #000;
  margin-left: 25px;
}

@media only screen and (min-width: 391px) and (max-width: 991px) {
  .modal-content {
    margin: 35% auto;
  }

  #motivational {
    font-size: 40px;
    margin-left: 10%;
    margin-right: 10%;
  }

  #author {
    font-size: 30px;
    margin-left: 10%;
  }

  tr {
    display: flex;
    flex-direction: column;
  }

  #image_section,
  #war_image {
    width: 100%;
    height: auto;
  }

  #propaganda img {
    height: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 390px) {
  h1 {
    font-size: 60px;
    letter-spacing: 5px;
  }

  h2 {
    font-size: 40px;
    letter-spacing: 3px;
  }

  #character-form {
    padding: 10px;
  }

  .form-group {
    margin: 5px 0;
  }

  input,
  option,
  label {
    width: 100%;
    font-size: 25px;
  }

  select option {
    font-size: 25px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    font-size: smaller;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  #imperium_logo {
    max-width: 30px;
  }

  .modal-content {
    margin: 60% auto;
  }

  #myModal .modal-content p {
    font-size: 30px;
  }

  #edit-button {
    margin-bottom: 10px;
  }

  #motivational {
    font-size: 25px;
  }

  tr {
    display: flex;
    flex-direction: column;
  }

  #author {
    font-size: 20px;
  }

  #image_section,
  #war_image {
    width: 100%;
    height: auto;
  }

  #propaganda {
    margin-bottom: 17px;
  }

  #propaganda img {
    height: auto;
    width: 100%;
  }

  .footer p,
  a {
    font-size: 20px;
  }
}

@font-face {
  font-family: "Inquisitor";
  src: url("fonts/Inquisitor.otf") format("truetype");
}
